# Python bytecode
*.py[co]

# ${buildout:bin-directory}
/bin/
# ${buildout:parts-directory}
/parts/
# ${buildout:installed}
.installed.cfg
.mr.developer.cfg
# secrets directory
/buildout.d/secrets/

# virtualenv
/venv/

# ${buildout:var-dir}
/var/
# ${buildout:etc-dir}
/etc/

# Coverage reports
/coverage/
