# Python bytecode
*.py[co]

# Buildout related
/bin/
/eggs/
/develop-eggs/
/parts/
.installed.cfg
.mr.developer.cfg

# virtualenv
/venv/

# Runtime configuration and data including ZODB files
/var/

# Coverage reports
/coverage/
