# Python bytecode
*.py[co]

# ${buildout:bin-directory}
/bin/
# ${buildout:parts-directory}
/parts/
# ${buildout:installed}
.installed.cfg
.mr.developer.cfg
# secrets directory
/buildout.d/secrets/

# virtualenv
/venv/

# Runtime configuration, logs, buildout cache, etc.
/var/
/etc/

# Coverage reports
/coverage/
