# Memcached buildout - used for RelStorage caching and Beaker
# ===========================================================

[buildout]
memcached-parts =
    memcached-libevent
    memcached-libmemcached
    memcached-pylibmc
    memcached-zlib
    memcached-build

[hosts]
memcached = localhost

[ports]
memcached = 11211

[downloads]
libevent     = https://github.com/downloads/libevent/libevent/libevent-2.0.21-stable.tar.gz
libmemcached = http://launchpad.net/libmemcached/1.0/1.0.16/+download/libmemcached-1.0.16.tar.gz
memcached    = http://memcached.googlecode.com/files/memcached-1.4.15.tar.gz
zlib         = http://downloads.sourceforge.net/project/libpng/zlib/1.2.8/zlib-1.2.8.tar.gz

[md5sums]
libevent     = b2405cc9ebf264aa47ff615d9de527a2
libmemcached = 1f3a7d559714791ac04ce8bcccc6b67e
memcached    = 36ea966f5a29655be1746bf4949f7f69
zlib         = 44d667c142d7cda120332623eab69f40

[users]
memcached = nobody

[eggs]
main += ${memcached-pylibmc:egg}

[memcached-libevent]
recipe = hexagonit.recipe.cmmi
url = ${downloads:libevent}
md5sum = ${md5sums:libevent}

[memcached-build]
recipe = hexagonit.recipe.cmmi
url = ${downloads:memcached}
md5sum = ${md5sums:memcached}
configure-options = --with-libevent=${memcached-libevent:location}

[memcached-libmemcached]
recipe = hexagonit.recipe.cmmi
url = ${downloads:libmemcached}
md5sum = ${md5sums:libmemcached}
configure-options = --without-memcached

[memcached-zlib]
recipe = hexagonit.recipe.cmmi
url = ${downloads:zlib}
md5sum = ${md5sums:zlib}

[memcached-pylibmc]
recipe = zc.recipe.egg:custom
egg = pylibmc
environment = memcached-pylibmc-env
rpath = ${memcached-libmemcached:location}/lib
include-dirs =
    ${memcached-libmemcached:location}/include
library-dirs =
    ${memcached-libmemcached:location}/lib

[memcached-pylibmc-env]
LIBMEMCACHED_DIR=${memcached-libmemcached:location}
